<div class="table">
  <thrad>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thrad>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image, size: "50x50"%></td>
      <th><%= user.name %></th>
      <th>フォロー数:<%= user.relationships.count %></th>
      <th>フォロワー数:<%= user.reverse_of_relationships.count %></th>
      <th><%= link_to "show", user_path(user.id) %></th>
    </tr>
    <% end %>
  </tbody>
</div>